<a href="https://colab.research.google.com/github/ramdgupta/python/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Integer Data type'''
x=10 # int x=10
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
'''Float'''
y=10.57
print(y)
print(type(y))

10.57
<class 'float'>

In [ ]:
'''String method'''
z="Hello friend"
print(z)
print(type(z))

Hello friend
<class 'str'>

In [ ]:
c ="H"
print(c)
print(type(c))

H
<class 'str'>

In [ ]:
'''Boolean Data Type'''
q=True
print(q)
print(type(q))

True
<class 'bool'>

In [ ]:
# list, set tuple and dictionary

In [ ]:
newlist =[45,67,89,11,45,89,"Hello friend", 45,.56, True, 'H', 4+67]
print(newlist)
print(type(newlist))

[45, 67, 89, 11, 45, 89, 'Hello friend', 45, 0.56, True, 'H', 71]
<class 'list'>

In [ ]:
print(newlist[3])

11

In [ ]:
newlist[3] = 100.45
print(newlist[3])

100.45

In [ ]:
newlist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
newlist.pop()

In [ ]:
newlist.sort

In [ ]:
print(newlist)

In [ ]:
newlist.remove(89)

In [ ]:
newlist

In [ ]:
newlist.remove(89)

In [ ]:
newlist

In [ ]:
newlist.append(90)

In [ ]:
newlist

In [ ]:
#touple

In [ ]:
newtpl = (56,45,45,77,54,77)
newtpl

In [ ]:
newtpl[1]

In [ ]:
newtpl[0]=100

In [ ]:
newtpl.count(77)

In [ ]:
newtpl.index(77)

In [ ]:
# dictionary

In [ ]:
newdict ={"friend": 56, 45:56.67}
newdict

In [ ]:
newdict["meloni"] = 2
newdict

In [ ]:
newdict["Meloni"] = 29
newdict

In [ ]:
newdict[67] ="friend"
newdict

In [ ]:
newdict[1]
newdict

In [ ]:
newdict['meloni']

In [ ]:
newdict.keys()

In [ ]:
newdict.values()

In [ ]:
newdict.items()

In [ ]:
#Exercise 1: Calculate the multiplication and sum of two numbers
#Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

def multiplication_or_sum(num1, num2) :
  # calculate product of two number
  pd = num1* num2
  # check if product is less then 1000
  if(pd<=1000) :
    return pd
  # product is greater than 1000 calculate sum
  else :
    return num1 + num2
# first condition
result = multiplication_or_sum(100, 200)
print("The result is :", result )
# Second condition
result = multiplication_or_sum(10,20)
print("The result is :", result)

In [ ]:
#Exercise 2: Print the sum of the current number and the previous number
#Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.
print("Printing current and previous number and their sum in a range(10)")
previous_num=0
for i in range(1,11) :
  sum = previous_num + i
  print("Current Number", i, "Previous Number ", previous_num, " Sum: ", sum)
  # modify previous number
  # set it to the current number
  previous_num=i

In [ ]:
#Exercise 3: Print characters from a string that are present at an even index number
#Write a program to accept a string from the user and display characters that are present at an even index number.
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# get the length of a string
length = len(word)

# iterate a each character of a string
# start: 0 to start with first character
# stop: size-1 because index starts with 0
# step: 2 to get the characters present at even index like 0, 2, 4
print("Printing only even index chars")
for i in range(0, length - 1, 2):
    print("index[", i, "]", word[i])

In [ ]:
#Exercise 4: Remove first n characters from a string
#Write a program to remove characters from a string starting from zero up to n and return a new string.
#create a function removeNCharInString
def remove_chars(word,n):
  print('Original string :', word)
  x=word[n:]
  return x
print("Removing characters from a string: ")
print(remove_chars("RamDulare", 4))
print(remove_chars("RamDulare", 2))

Removing characters from a string:
Original string : RamDulare
ulare
Original string : RamDulare
mDulare

In [ ]:
print("chai and code")

chai and code

In [ ]:
#list Data type
newlist =["George", "Ravi", "Prema", "Caroline", "Prema"]
print(newlist)
name = input("Give your name: ")
if name in newlist :
  print("You are Welcome ")
else:
  print("Let us see next time ")

['George', 'Ravi', 'Prema', 'Caroline', 'Prema']
Give your name: Ravi
You are Welcome

In [ ]:
#Set data type
newlist ={"George", "Ravi", "Prema", "Caroline", "Prema"}
print(newlist)
name = input("Give your name: ")

if name in newlist :
  print("You are Welcome ")
else:
  print("Let us see next time ")

{'Caroline', 'George', 'Ravi', 'Prema'}
Give your name: Ravi
You are Welcome

In [ ]:
#create a prime sequence
#range
for val in range(1,10):
  print(val, end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
#create a even sequence
#range
for val in range(0,10):
  if val % 2 ==0 :
    print(val, end=" ")

0 2 4 6 8

In [ ]:
#printing only the odd no
for val in range(0,11):
  if val % 2 !=0 :
    print(val, end=" ")

1 3 5 7 9

In [ ]:
# prime number sequence
for val in range(2, 101):
  flag=0
  for num in range(2, val):
    if val % num == 0:
      flag=1
      break
  if flag == 0 :
    print(val,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# prime number sequence
for val in range(2, 101):
  for num in range(2, val):
    if val % num == 0:
      break
  # this is floating else it's  featuere of python
  #the else is outside but it's thinking it's inside for loop
  else:
    print(val,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# prime number sequence
for val in range(2, 101):
  for num in range(2, val):
    if val % num == 0:
      break
  # this is floating else it's  featuere of python
  #the else is outside but it's thinking it's inside for loop
    else:
      print(val,end=" ")

3 5 5 5 7 7 7 7 7 9 11 11 11 11 11 11 11 11 11 13 13 13 13 13 13 13 13 13 13 13 15 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 21 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 25 25 25 27 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 33 35 35 35 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 39 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 45 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 49 49 49 49 49 51 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 55 55 55 57 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 63 65 65 65 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 67 69 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 71 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 73 75 77 77 77 77 77 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 79 81 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 83 85 85 85 87 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 89 91 91 91 91 91 93 95 95 95 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 97 99

In [ ]:
import time
st = time.time()
for num in range(2,1000):
    flag = 0
    for val in range(2,num):
        if num % val == 0:
            flag = 1
            break
    if flag == 0:
        print(num,end=" ")
et = time.time()
print(et-st)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997 0.05607271194458008

In [ ]:
import time
st = time.time()
def checkFactor(n):
  for num in range(1, n+1):
    if n%num==0:
      print(num, end=" ")

checkFactor(28)
et = time.time()
print(et-st)

1 2 4 7 14 28 0.0026564598083496094

In [7]:
# Set always keep unique value
goodset = {1,5,6,3,4,5,2,6,2,1}
goodset

{1, 2, 3, 4, 5, 6}

In [10]:
#list to convert set for get unique item
goodlist = [1,5,6,3,4,5,2,6,2,1]
goodset = set(goodlist)
goodset

{1, 2, 3, 4, 5, 6}

In [12]:
#defining a blank set and adding item
goodset = set()
goodset.add(1)
goodset.add(100)
goodset.add(20)
goodset

{1, 20, 100}

In [13]:
#initializing my set
myset = {1,3,4,1,2,3}
myset

{1, 2, 3, 4}

In [15]:
#add value in myset
myset.add(12)
myset

{1, 2, 3, 4, 12}

In [18]:
#update my set
myset.update([15,13,14,16])
myset

{1, 2, 3, 4, 12, 13, 14, 15, 16}

In [19]:
#update my set
myset.update([20,21],{56,57,90})
myset

{1, 2, 3, 4, 12, 13, 14, 15, 16, 20, 21, 56, 57, 90}

In [21]:
newset = myset.copy()
newset, myset

({1, 2, 3, 4, 12, 13, 14, 15, 16, 20, 21, 56, 57, 90},
 {1, 2, 3, 4, 12, 13, 14, 15, 16, 20, 21, 56, 57, 90})

In [22]:
myset.add(10)
myset, newset

({1, 2, 3, 4, 10, 12, 13, 14, 15, 16, 20, 21, 56, 57, 90},
 {1, 2, 3, 4, 12, 13, 14, 15, 16, 20, 21, 56, 57, 90})

In [36]:
newset.clear
myset = {5,10,15}
goodset = {10,20,30}
newset = myset.copy()
print('newset: ', newset )
print('goodset: ', goodset)
x=goodset.intersection(newset)
print('intersection: ', x)
y = goodset.union(newset)
print('Unioun: ', y)
z= goodset.difference(newset)
print('Difference: ', z)
z= newset.difference(goodset)
print('Difference: ', z)

newset:  {10, 5, 15}
goodset:  {10, 20, 30}
intersection:  {10}
Unioun:  {20, 5, 10, 30, 15}
Difference:  {20, 30}
Difference:  {5, 15}